export ETCD_PORT=${ETCD_PORT:-2379}
export HOST_IP=${HOST_IP:-{{ etcdserver_ip }}}
export ETCD=http://$HOST_IP:$ETCD_PORT
# for changes every 10 seconds
export CONFD_OPTS="-interval 10 -node $ETCD -config-file /etc/confd/conf.d/hosts.toml"

